America_Involvement_Major_wars.aux
America_Involvement_Major_wars.bbl
America_Involvement_Major_wars.blg
America_Involvement_Major_wars.log
America_Involvement_Major_wars.out
America_Involvement_Major_wars.synctex.gz
texput.log
